<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DbEntities" connectionString="metadata=res://*/SisModel.csdl|res://*/SisModel.ssdl|res://*/SisModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Ncepu.Gp.Sis;persist security info=True;user id=dev;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Ncepu.GraduationProject.Sis.Persistence.Properties.Settings.Ncepu_Gp_SisConnectionString"
      connectionString="Data Source=.;Initial Catalog=Ncepu.Gp.Sis;Persist Security Info=True;User ID=dev;Password=123;MultipleActiveResultSets=True;Application Name=EntityFramework"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>